.btn {
  @apply bg-primary rounded-full my-3 px-6 py-3 text-white leading-none;

  transition: 0.2s ease;

  &:hover {
    @apply text-white bg-primaryDark border-primaryDark;
  }

  &--transparent {
    @apply bg-transparent text-white border border-solid border-white;

    &:hover {
      @apply text-white bg-primary border-primary;
    }
  }

  &--gray {
    @apply bg-white text-gray border border-solid border-gray;

    &:hover {
      @apply text-white bg-primaryDark border-primaryDark;
    }
  }
}
