.cta {
  &__bg-image {
    @apply absolute inset-0 w-full h-full object-cover;

    z-index: -1;
  }

  &__flair {
    &__bg {
      top: -50px;
      left: 17px;
      height: 94px;
      width: 83px;

      @screen lg {
        width: 150px;
        height: 150px;
        top: -100px;
        left: 128px;
      }
    }
  }
}
