.downloads {
  &__item {
    min-width: 320px;
  }

  &__flair {
    &__bg {
      top: -60px;
      right: -7px;
      height: 74px;
      width: 63px;

      @screen lg {
        width: 92px;
        height: 99px;
        top: -310px;
        right: 2vw;
      }

      @screen xl {
        right: -2vw;
      }
    }
  }
}
