/** Search form */
.search-form {
  @apply flex items-center;
}

.search-form label {
  @apply mb-4;

  font-weight: normal;
}

.search-form .search-field {
  @apply block appearance-none w-full py-1 px-2 mb-1 text-base leading-normal bg-white text-gray border border-gray rounded;
}

.search-form .search-submit {
  @apply inline-block align-middle text-center select-none border font-normal whitespace-no-wrap py-2 px-4 rounded text-base leading-normal no-underline text-gray bg-gray;

  &:hover {
    @apply bg-gray;
  }
}

select {
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;

  &::-ms-expand {
    display: none;
  }
}

.select {
  width: 100%;
  min-width: 1ch;
  max-width: 37px;
  box-sizing: border-box;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  font-size: 14px;
  font-weight: 700;
  color: #333;
  cursor: pointer;
  line-height: 1.1;
  background-color: transparent;
  display: grid;
  grid-template-areas: 'select';
  align-items: center;
  position: relative;

  select {
    text-transform: uppercase;
    padding: 8px 1rem 8px 0;
    font-weight: 700;
  }

  &::after {
    content: '';
    width: 0.8em;
    height: 0.5em;
    box-sizing: border-box;
    background-color: #333;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    grid-area: select;
    justify-self: end;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  @screen xlg {
    color: #fff;

    &::after {
      background-color: #fff;
    }

    .fade-in & {
      color: #333;

      &::after {
        background-color: #333;
      }
    }
  }

  &:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
    color: #222;
    outline: none;

    @screen xlg {
      color: #fff;

      .fade-in & {
        color: #333;
      }
    }
  }

  option {
    text-transform: uppercase;
    color: #333;
  }
}
