.hero {
  @media (max-width: 640px) {
    padding-top: 85vw;
  }

  @screen sm {
    @apply h-xl;

    padding-top: 0;
  }

  @screen x2l {
    height: 50vw;
    max-height: 1100px;
  }

  &__bg-color {
    @media (max-width: 640px) {
      @apply absolute bottom-0 h-full w-full bg-gray;

      z-index: -1;
    }
  }

  &__bg-image {
    @screen sm {
      @apply absolute inset-0 h-full w-full;

      object-fit: cover;
      object-position: right;
      z-index: -1;
    }

    @screen lg {
      @apply absolute inset-0 h-full;

      object-fit: cover;
      z-index: -1;
    }

    @screen x2l {
      object-position: center 35%;
    }

    @media (max-width: 640px) {
      @apply absolute top-0 w-full;

      z-index: -1;
    }
  }

  &__container {
    @screen sm {
      @apply h-full;
    }
  }

  &__title {
    @apply font-bold text-white;

    @screen lg {
      @apply pr-16;
    }

    .page-id-133 & {
      @apply pr-0;
    }
  }

  &__text {
    p {
      @apply text-white text-17 mb-12;

      @screen lg {
        @apply text-lg pr-6;
      }
    }
  }

  &__flair {
    &__bg {
      top: -129px;
      right: -30px;
      height: 130px;
      width: 130px;

      @screen lg {
        top: -200px;
      }

      @screen xl {
        width: 175px;
        height: 166px;
        top: -220px;
        right: 4vw;
      }
    }
  }
}
