.link {
  &--arrow {
    &::after {
      @apply pl-1;

      content: '»';
      display: inline-block;
    }
  }
}

.gray-link {
  @apply text-gray border-0;

  &:hover {
    @apply text-gray border-0;
  }
}
