.module {
  &__flair {
    &__bg {
      bottom: -115px;
      left: -20px;
      height: 100px;
      width: 100px;
      transform: rotate(28deg);

      @screen lg {
        transform: rotate(0);
        width: 175px;
        height: 202px;
        bottom: -300px;
        left: 2vw;
      }

      @screen xl {
        left: -8vw;
      }
    }
  }
}
