@media (max-width: 1159px) {
  // 1px below 1160

  .ycdp-nav {
    &--mobile {
      @apply bg-white flex flex-col-reverse items-start justify-end pl-lg pr-lg pt-lg;

      width: 280px;
      position: absolute;
      top: 0;
      right: -280px;
      bottom: 0;
      height: 100vh;
      transition: right 0.3s;
      z-index: 3;

      .sidebar-is-active & {
        right: 0;
        z-index: 2;
      }
    }

    .nav {
      @apply list-none p-0 flex flex-col mt-10;

      .menu-item {
        @apply text-gray mb-sm;
      }

      a {
        @apply text-gray text-lg;
      }

      li:last-child {
        @apply mt-0 flex;

        a {
          @apply text-lg btn;

          &:hover {
            @apply text-white bg-primaryDark border-primaryDark;
          }
        }
      }
    }
  }
}

.hamburger.is-active {
  position: absolute;
  z-index: 10;
  right: 30px;
}

@screen xlg {
  .ycdp-nav {
    &--desktop {
      @apply flex flex-grow items-center justify-end;
    }

    .nav {
      @apply list-none p-0 flex flex-wrap items-center;

      a {
        @apply inline-block mr-20 py-2 text-16 text-white border-b border-transparent transition duration-300;

        &:hover {
          @apply border-white;
        }

        .fade-in & {
          @apply text-gray;

          &:hover {
            @apply text-primary border-primary;
          }
        }
      }
    }

    .menu-primary-navigation-container .nav li:last-child a,
    .menu-primary-navigation-french-container .nav li:last-child a {
      @apply btn btn--transparent text-16;

      &:hover {
        @apply text-white bg-primary border-primary;
      }

      .fade-in & {
        @apply bg-white text-gray border border-solid border-gray;

        &:hover {
          @apply text-white bg-primaryDark border-primaryDark;
        }
      }
    }
  }
}

@screen xl {
  .ycdp-nav {
    .nav {
      a {
        @apply mr-lg text-18;
      }
    }

    .menu-primary-navigation-container .nav li:last-child a {
      @apply text-18;
    }
  }
}
