.footer-widget {
  @apply flex flex-col justify-center mb-2;

  @screen lg {
    @apply flex-row mb-2;
  }

  &__leading-text {
    @apply font-bold text-sm text-gray pr-1 text-center mb-1;

    @screen lg {
      @apply text-14 text-left mb-0;
    }
  }

  &__item {
    @apply text-sm gray-link text-center mb-p4;

    @screen lg {
      @apply text-14 text-left mb-0;
    }
  }

  &__fax {
    @apply mb-0;

    display: none;

    &::after {
      content: '';
    }

    &--desktop-only {
      @screen lg {
        display: block;
      }
    }
  }

  &__phone-fax {
    @apply flex items-center mb-p4;

    @screen lg {
      @apply mb-0;
    }

    &__phone {
      @apply mb-0;
    }

    &__fax {
      display: inline-block;

      @screen lg {
        display: none;
      }
    }
  }

  &__divider {
    @apply px-2 hidden text-sm;

    @screen lg {
      @apply text-14 inline-block;
    }

    &--mobile-display {
      @apply inline-block;
    }
  }
}
