.ycdp-header {
  @apply absolute w-full bg-transparent transition-colors duration-300 z-10;

  .sidebar-is-active & {
    z-index: auto;
  }

  @screen xlg {
    @apply fixed;
  }

  &__logo {
    width: 210px;
  }

  &.fade-in {
    @apply bg-white;
  }
}

.ycdp-logo {
  &--dark {
    @apply absolute top-0 opacity-0 transition-opacity duration-300;

    left: -1px;

    .fade-in & {
      @apply opacity-100;
    }
  }
}
