html {
  scroll-behavior: smooth;
  position: relative;
  overflow-y: scroll;
}

html,
body {
  height: 100%;
  position: relative;

  @media (max-width: 1159px) {
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.wrap {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}

.sidebar-is-active {
  .wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    overflow: hidden;
  }
}

/* When mouse is detected, ALL focused elements have outline removed. */
body.using-mouse :focus {
  outline: none;
}

.flair {
  &__bg {
    position: absolute;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.mobile-only {
  @screen xlg {
    display: none;
  }
}

.desktop-only {
  display: none;

  @screen xlg {
    display: flex;
  }
}
