h1,
h2,
h3,
h4,
h5 {
  @apply mb-2 leading-tight;
}

h1,
.h1 {
  @apply text-h3;

  @screen lg {
    @apply text-h1;
  }
}

h2,
.h2 {
  @apply text-h2;
}

h3,
.h3 {
  @apply text-lg;

  @screen lg {
    @apply text-h3;
  }
}

h4,
.h4 {
  @apply text-lg;
}

h5,
.h5 {
  @apply text-14;
}

p {
  @apply text-16 leading-normal text-gray mb-2;

  @screen lg {
    @apply text-18 mb-3;
  }
}
